{% extends 'front/base_front.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{asset('css/form.css')}}">
{% endblock %}
{% block body %}
	</header>
	<main>
		<section class="card-section section-padding">
			{% if error %}
				<div class="alert alert-danger">Le couple utilisateur/mot de passe n'est pas reconnu</div>
			{% endif %}
			{% if app.user %}
				<div class="mb-3">
					You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% else %}
				{{ include('front/_flash_success_messages.html.twig') }}
    			<div class="container-login100">
					<div class="wrap-login100">
						<form class="login100-form validate-form" method="post">
							<span class="login100-form-title">
								Se connecter
							</span>
							<div class="wrap-input100 validate-input">
                        		<label for="inputEmail">Email</label>
								<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input100" required autofocus>
								<span class="focus-input100" placeholder="Email"></span>
							</div>
							<div class="wrap-input100 validate-input" data-validate="Enter password">
                        		<label for="inputPassword">Mot de passe</label>
                        		<input type="password" name="password" id="inputPassword" class="input100" autocomplete="current-password" required>
								<span class="focus-input100" placeholder="Mot de passe"></span>
							</div>
                    		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    						{# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        						<div class="checkbox mb-3">
            						<label>
                						<input type="checkbox" name="_remember_me"> Remember me
            						</label>
        						</div>#}
							<div class="container-login100-form-btn">
								<div class="wrap-login100-form-btn">
									<div class="login100-form-bgbtn"></div>
									<button class="login100-form-btn" type"submit">
										Connexion
									</button>
								</div>
							</div>
							<div class="text-center">
								<span class="txt1">
									Vous n'avez pas de compte?
								</span>
								<a class="txt2" href="{{ path('app_register') }}">
									S'enregistrer
								</a>
							</div>
							<div class="text-center">
								<span class="txt1">
									Mot de passe oublié ?
								</span>
								<a class="txt2" href="{{ path('app_password_change') }}">
									Le modifier
								</a>
							</div>
						</form>
					</div>
				</div>
			{% endif %}
		</section>
	</main>
{% endblock %}
