{% extends 'front/base_front.html.twig' %}
{% block title %}Modification du mot de passe{% endblock %}
{% block body %}
    </header>
    <main>
        <div class="container bg-lighttt py-5">
            <div class="row justify-content-center m-auto form-row">
                <div class="col-lg-8 col-md-12">
                    <div class="detail-block row g-0 borderrr rrrounded overflow-hidden flex-md-row align-items-start mb-2 shadow-smmm position-relative">
                        <h2 class="my-4 form-page__title">Modifier mon mot de passe</h2>
                        {{ form(form) }}
                    </div>
                    <a href="{{ path('app_login') }}" type="button" class="btn btn-success user-form__button mb-4">Retour</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block scrollup %}
    <a href="#header">
        <img src="{{ asset('img/scroll-up.png') }}" alt="scroll up btn" class="scroll-up" width="40px" height="40px">
    </a>
{% endblock %}
{% block script %}
    <script src="{{asset('js/user-form.js')}}"></script>
    <script src="{{asset('js/form-validation-edit.js')}}"></script>
{% endblock %}