{% extends "back/base_back.html.twig" %}
{% block title %}Liste des utilisateurs{% endblock %}
{% block body %}
  <!--    Page container start  -->
  <div class="card my-4">
    <div class="card-header p-0 mx-3 z-index-2">
      <div class="d-flex header-list bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
        <h6 class="text-white text-capitalize ps-3">Les Utilisateurs</h6>
        <div class="createButton">
          <a class="d-flex btn btn-outline-white text-end mb-0 mx-4" href="{{ path('app_back_user_new') }}">Create new</a>
        </div>
      </div>
    </div>
    <div class="card-body px-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">id</th>
              <th class="text-start text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Avatar</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">email</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">role</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">actions</th>
              <th class="text-secondary opacity-7"></th>
          </tr>
          </thead>
          <tbody>
            <!--    table row start  -->
            {% for user in users %}
            <tr>
              <td class="align-middle px-4">
                <span class="text-secondary text-xs font-weight-bold">{{ user.id }}</span>
              </td>
              <td>
                <div class="d-flex px-2 py-1">
                    <div>
                        <img src="{{ user.avatar.poster }}" class="avatar avatar-sm me-3 border-radius-lg" alt="pochette de jeux">
                    </div>
                </div>    
              </td>
              <td>
                <div class="d-flex flex-column justify-content-center">
                  <h6 class="mb-0 text-sm">{{ user.email }}</h6>
                </div>
              </td>
              <td>
                <div class="d-flex flex-column justify-content-center">
                  {% for role in user.roles %}
                    <h6 class="text-secondary text-xs font-weight-bold">{{ role }}</h6>
                  {% endfor %}
                </div>
              </td>
              <td class="align-middle text-center">
                <a class="material-icons opacity-10 px-2 icon-list" href="{{ path('app_back_user_show', {'id': user.id}) }}">
                  <i>visibility</i>
                </a>
                <a class="material-icons opacity-10 px-2 icon-list" href="{{ path('app_back_user_edit', {'id': user.id}) }}">
                  <i>edit</i>
                </a>
                <a class="material-icons opacity-10 px-2 icon-list">{{ include('back/user/_delete_form.html.twig') }}</a>
              </td>
            </tr>
            <!--    table row end  -->
            {% else %}
              <tr>
                <td colspan="8">no records found</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--    Page container end   -->
  <!--    Page nav start   -->
  <div class="d-flex justify-content-center">
    {% do users.setPageRange(5) %}
    {{ knp_pagination_render(users,'back/pagination.html.twig') }}
  </div>
  <!--    Page nav end   -->
{% endblock %}