{% extends 'front/base_front.html.twig' %}
{% block title %}Modifier {{ playlist.name }}{% endblock %}
{% block body %}
    </header>
    <main>
        <section class="small-content">
            <div class="container bg-lighttt py-5">
                <div class="row justify-content-center m-auto form-row">
                    <div class="col-lg-8 col-md-12">
                        <div class="detail-block row g-0 borderrr rrrounded overflow-hidden flex-md-row align-items-start mb-2 shadow-smmm position-relative">
                            <h2 class="my-4 form-page__title">Modifier {{ playlist.name }}</h2>
                            {{ form(form) }}
                        </div>
                        <a href="{{ path('playlist_show', {'id': playlist.id}) }}" type="button" class="btn btn-success user-form__button mb-4">Retour à ma playlist</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block script %}
    <script src="{{asset('js/user-form.js')}}"></script>
{% endblock %}