{% extends 'front/base_front.html.twig' %}
{% block title %}Mes playlists{% endblock %}
{% block body %}
    </header>
    <main>
        <section class="card-section section-padding">
            <div class="container">
                {{ include('front/_flash_success_messages.html.twig') }}
                <h2 class="my-4 form-page__title">Mes playlists</h2>
                <a href="{{ path('playlist_createPlaylist') }}" type="button" class="btn btn-primary user-form__button mb-5">Créer une playlist</a>
                <div class="card-section__items col-lg-8 col-12 mt-3 mx-auto">
                    {% for playlist in playlists %}
                        <div class="list-block custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                            <a href="{{ path('playlist_show', {id: playlist.id}) }}" class="more"> 
                                <div class="d-flex">
                                    <div class="list-block__container custom-block-topics-listing-info d-flex">
                                        <div class="list-item__description">
                                            <h3 class="mb-2">{{ playlist.name }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}   
                </div>
                <div class="d-flex justify-content-center">
                    {% do playlists.setPageRange(10) %}
                    {{ knp_pagination_render(playlists,'front/pagination.html.twig') }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block scrollup %}
    <a href="#header">
        <img src="{{ asset('img/scroll-up.png') }}" alt="scroll up btn" class="scroll-up" width="40px" height="40px">
    </a>
{% endblock %}